body { 
  background: url('/images/ring.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2 {
}

.landing {
	margin-top: 25%;
	color: #FFF;
	text-align: center;
	a {
		color:#FFF;
	}
	a:hover {
		
	}
}