body { 
  background: url('/images/ring.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Rakkas', cursive;
	color: #fff;
}

h1 {
	font-size: 48px;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #fff;
}

a, a:hover, a:focus, a:active, a:visited {
	color: #fff;
	font-weight: 700;
	text-decoration: none;
}

.container {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 95%;
}

.about {
	position: fixed;
	bottom: 25px;
	left: 25px;
	margin-right: 25px;
}

.contact {
	position: fixed;
	top: 25px;
	right: 25px;
	margin-left: 25px;
	text-align: right;
}